*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --Primary-Color : #FFBA33;
  --Coklat-Color : #6A4029;
  --gray-1 : #4F5665;
  --bg-gray : #F8F8F8;
  font-family: 'Rubik', sans-serif !important;
}
h5{
  font-size: 35px;
  color: var(--Coklat-Color);
}
h4{
  font-size: 20px;
}
li{
  list-style: none !important;
  margin-bottom: 10px;
  color: #4F5665;
}
p{
  color: #4F5665;
}
/* -------------------------------- */
.main-input{
  outline: var(--Coklat-Color);
  width: 100%;
  border: 1px solid var(--gray-1);
  padding: 16px 18px;
}
/* -------------------------------- */
.label-for-main-input{
  color: var(--gray-1);
  font-weight: 700;
}
/* -------------------------------- */
.btn-sm{
  border: none;
  color: var(--Coklat-Color);
  padding: 10px 40px;
  font-weight: 600;
  transition: all ease-out 0.2s;
  outline: none;
}
.btn-lg{
  border: none;
  color: var(--Coklat-Color);
  padding: 16px 40px;
  font-weight: 600;
  transition: all ease-out 0.2s;
  outline: none;
  width: 100%;
}
/* -------------------------------- */
.btn-orange{
  background-color: var(--Primary-Color);
}
.btn-coklat{
  background-color: var(--Coklat-Color);
  color: white !important;
}
.btn-orange:hover{
  box-shadow: 2px 2px 14px 3px rgba(255, 186, 51, 0.6);
}
.btn-coklat:hover{
  box-shadow: 2px 2px 14px 3px rgba(106, 64, 41, 0.6);
}
/* -------------------------------- */
.rounded-sm{
  border-radius: 8px;
}
.rounded-md{
  border-radius: 12px;
}
.rounded-xl{
  border-radius: 24px;
}
.rounded-circle{
  border-radius: 100%;
}
/* -------------------------------- */
.bg-gray-1{
  background: var(--bg-gray);
}
/* ----------------font---------------- */
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fc-1{
  color: #4F5665;

}
/* ------------lain-lain------------- */
.mw-400{
  max-width: 400px;
}
.c-pointer{
  cursor: pointer;
}
.card-fly-position{
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
}
.pt-10{
  padding-top: 7rem;
}
.show-in-md{
  display: none;
}
@media (min-width: 576px) {
  
}
@media (min-width: 768px) {
  .show-in-md{
    display: block !important;
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
  
}

/* ----------------- aditya ----------------- */
